
    <body id="top" class="ndhome">
	
		<!-- PRELOADER-->
		<%render partial: 'common/loader' %>
		
		<!-- END PRELOADER -->
	
		<!-- Header Section Start -->
		<%=render partial: 'common/header'%>
		
		<!-- Slider Section Start -->
		<div class="fullwidthbanner-container nd_rv_slider" style="height:90%;margin-top:4.5%;">
			<div class="fullwidthbanner">
				<div class="bannercontainer" >
					<div class="banner" >
						<ul>
							<!-- THE FIRST SLIDE -->
							<li data-transition="boxfade" data-slotamount="20" >
							<div class="pattern"></div>
								<img src="/assets/slider/cap1.jpg" alt="background">								
							</li>
							<!-- THE SECOND SLIDE -->
							<li data-transition="boxfade" data-slotamount="20">
								<div class="pattern"></div>
								<img src="/assets/slider/lab1.jpg" alt="background">
			 
								 
							</li>

							<li data-transition="boxfade" data-slotamount="20">
								<div class="pattern"></div>
								<img src="/assets/slider/cap2.jpg" alt="background">
			 
								 
							</li>
							
						</ul>
					</div>
				</div>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- Slider Section End -->
		  
		<!-- Nadea Services Section Start -->
		<section id="ndservices" class="ndservices skype-bg clear animation" data-animation="animation-fade-in-up">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="ndservice-item">
							<div class="ndfactsr">
								<i class="servicewhIcon ndserviceIcon1"></i>
							</div>
							<div class="heading">
								<h2>History</h2>
								<p>We are providing our services to customer from last 5 years and created our market with our customers globally.</p>
								<button class="home-button">MORE</button>
							</div>
						</div>
					</div>
					<!-- Services 1 End -->
					
					
					
					<div class="col-sm-3">
						<div class="ndservice-item">
							<div class="ndfactsr">
								<i class="servicewhIcon ndserviceIcon2"></i>
							</div>
							<div class="heading">
								<h2>Our Values</h2>
								<p>We are offering an effective range of Pharmaceutical Tablets, Medicine Tablet, Pharmaceutical Capsules, Pharmaceutical Contract Manufacturing Services and many more.</p>
								<!-- <a href="" id="values">
									<button class="home-button">MORE</button>
							</a> -->
							</div>
						</div>
					</div>
					<!-- Services 4 End -->
					
					<div class="col-sm-3">
						<div class="ndservice-item">
							<div class="ndfactsr">
								<i class="servicewhIcon ndserviceIcon3"></i>
							</div>
							<div class="heading">
								<h2>Services/Products</h2>
								<p>Currently we are providing services in terms of products available in wide range of quality aspects at minimum cost.</p>
								<button class="home-button">MORE</button>						
							</div>
						</div>
					</div>
					<!-- Services 4 End -->
				</div><!-- end of row -->
			</div>
		</section>
		<!-- Nadea Services Section End-->
			
		
		

		
		<!-- Latest Post Section Start-->
		<section id="ndlatestpost" class="clear white-bg">
			<div class="container">
				<p class="who">Who</p>
				<span class="we-are">We Are</span>
				<div>
					<div class="about-text">
						<p>We, Ryzil Pharmaceuticals, made our tryst with destiny in 2015..</p>
						<p>We are distributing usable medicines and has since established itself as a strategic, reliable, and dominate link in the nutritional, personal care, pharmaceutical, and specialty medicines supply chains.</p>
						<p>We partner with companies across the country to establish and maintain strong relationships that allow us to source the highest quality medical products available. At the forefront of technological innovation within the medical industry is where we flourish. Ryzil applies cutting-edge sourcing strategies to your supply chain as an extension of your business.</p>
						
					</div>
					<div style="width:44%;float:left;margin-left:1%;">
						<img src="/assets/lab.jpg" height="200px"/>
					</div>
				</div>

			</div>
		</section>
		<!-- Latest Post Section Start-->
		
		<!-- Testimonial Section Start -->
		<section id="ndtestimonials" class="clear Offgray-bg animation" data-animation="animation-fade-in-up">	
			<span class="testimonial-title">
				<h3>Client Testimonials</h3>				 	
			</span>
			
			<div class="container">
				<div class="row">
					 <!-- Reviews Section -->
					<div class="col-sm-12">
						<div id="owl-testimonials">
							<div class="item">
								
								<div class="item-right">
									<h3 class="test-text"> 	
										Ryzil is one of the best distributer we ever worked, they always pays their attention towards the quality and supply of medicines and other products.	
									</h3>
									<p>DMR Hospital,Moradabad</p>
								</div>
							</div>
							
							<div class="item">
								 
								<div class="item-right">
									<h3 class="test-text">
									We are working with ryzil since long time and never faced any issue with quality and supply the products.
									</h3>
									<p>GTB Hospital,Delhi</p>
								</div>
							</div>
							
							
						</div><!-- /#owl-reviews -->  
					   
					</div><!-- /.col-lg-12 -->  	    
					<!-- /#reviews --> 
				</div>
			</div>
		</section>
		<!-- Testimonial Section End -->
	

		 
		
		
		<div class="go-up"><img src="/assets/back-top.png" alt="Back-To-Top"/></div>
		<!-- Back To Top End-->
		
		<%=render partial: 'common/footer' %>
		
		<!-- Jquery lib-->
		
		
		<script type="text/javascript">

			var tpj=jQuery;
			tpj.noConflict();

			tpj(document).ready(function() {

			if (tpj.fn.cssOriginal!=undefined)
				tpj.fn.css = tpj.fn.cssOriginal;

				tpj('.banner').revolution(
					{
						dottedOverlay:"none",
						delay:9000,
						startwidth:1500,
						startheight:700,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,

						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"preview3",


						navigationHAlign:"center",				// Vertical Align top,center,bottom
						navigationVAlign:"bottom",					// Horizontal Align left,center,right
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						touchenabled:"off",						// Enable Swipe Function : on/off
						onHoverStop:"off",						// Stop Banner Timet at Hover on Slide on/off

						stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
						stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

						hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
						hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
						hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value

						shadow:0,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
						fullWidth:"on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus


					});



				});

		</script>
		
		
		<!--Main Js -->
		
		
      
    </body>

<script type="text/javascript">
	jQuery("#home").attr("class","active")
	jQuery("#values").click(function(){
			 location.href = "/values"
	})
	
</script>