<body id="top" class="ndhome">

	<%render partial: 'common/loader' %>

	<!-- Header Section Start -->
	<%=render partial: 'common/header'%>

	<!-- Nadea PageTitle Section Start -->
		<section id="page-title" class="clear skype-bg" style="margin-top:4.5%;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="page-title">
							<h1>Who We Are?</h1>
						</div>
					</div><!-- col 6-->
					
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
		<!-- Nadea PageTitle Section End -->

<!-- Nadea Services Section Start -->
		<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/about.jpg" class="img-responsive about-img" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<h2>WELCOME TO <b>RYZIL PHARMACEUTICAL</b></h2>
							<p style="margin-top:30px;"><b>Ryzil Pharmaceutical</b>  was established in 2017,it is not just a business - rather it is a passion. A young and fast growing organization which has committed itself to offer the finest quality medical products to our each individual client.Our clients provide a suite of industry leading drug delivery devices with applications across multiple clinical areas including vaccine, pediatrics, respiratory, allergy, pain management.</p>

							<p>	Associated with industry for more then a decade now with expertise in medical products we first understand our customer needs and budget and then actively start work on supply chain.There are so many products we are selling to our customer and have succeed to increase the satisfactory level of our customers.</p>

							
						</div>
					</div><!-- col 6 end -->
				</div><!-- row end -->
				
				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<label>We are committed to :</label>
							<ul class="styled-list style-4">
								<li>
									Provide best services to our customers and grab their positive feedback.
								</li>
								<li>
									We are providing best house keeping service all over the india.
								</li>
								<li>
									Providing unparalleled opportunities for personal growth. 
								</li>
								<li>
									Succeeding together with passion and trust.
								</li>

						    </ul>

							<p></p>
							<label>Ryzil Pharmaceutical is proud of its long standing relationships in the industry and the fact that 70% of its revenue comes from its existing clients, which is a testimonial of happy clients.</label>
						</div>
					</div>
				</div>
			</div><!-- container end -->
		</section>		
		
		<section class="about section mainSection scrollAnchor lightSection">
			<div class="container">
				<div class="aboutpor-title heading"><h2>OUR TEAM</h2></div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-3">
							<div class="card-data">
								<div class="card-data-main">
									<img src="/assets/shubham-rathi.jpg" />
									<div>
										<p><h4><center>Shubham Rathi</center></h4></p>
										<p><h5><center>(Director)</center></h5></p>
										<p><h6><center>(shubham.rathi@ryzilpharmaceuticals.com)</center></h6></p>
									</div>
								</div>	
							</div>
						</div>
						<div class="col-sm-3">
							<div class="card-data">
								<div class="card-data-main">
									<img src="/assets/raghav-photo.jpg" />
									<div>
										<p><h4><center>Raghav Pratap Singh</center></h4></p>
										<p><h5><center>(Senior Software Engineer)</center></h5></p>
										<p><h6><center>(raghavvishnoi10@gmail.com)</center></h6></p>
									</div>
								</div>	
							</div>
						</div>
						<div class="col-sm-3">
							<div class="card-data">
								<div class="card-data-main">
									<img src="/assets/raghav-photo.jpg" />
									<div>
										<p><h4><center>Raghav Pratap Singh</center></h4></p>
										<p><h5><center>(Senior Software Engineer)<center></h5></p>
										<p><h6><center>(raghavvishnoi10@gmail.com)<center></h6></p>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- ServicesAbout Section Start -->
	
		<div class="ndheight"></div>
		<!-- ServicesAbout Section End -->		
		
		<%=render partial: 'common/footer' %>
 
</body>		
		