.card-data{margin-bottom: 60px;}
.card-data-main div{border:5px solid #e7ecf0;}
.card-data-main div h4{color: #000 !important;}
.card-data-main div h5{color: #666666 !important;}
.card-data-main div h6{color: #666666 !important;}
.card-data img {width:100%;height: 250px;}